body
{
    background-image: url(../assets/pokeballBackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Inria Serif", static;
    font-weight: 400;
}

.container
{
    background-color: #f9eea7bf;
    border-radius: 30px;
    filter: drop-shadow(5px 4px 4px #2e2e2e);
    border-style: solid;
}

h1
{
    font-size: 55px;
}

h2
{
    font-size: 32px;
}

img
{
    filter: drop-shadow(5px 4px 4px #2e2e2e);
}

